@font-face {
  font-family: "Orbitron";
  font-weight: 400;
  src: url("~/assets/fonts/Orbitron.ttf");
}
@font-face {
  font-family: "Michroma";
  font-weight: 400;
  src: url("~/assets/fonts/Michroma.ttf");
}
@font-face {
  font-family: "Noto";
  font-weight: 400;
  src: url("~/assets/fonts/Noto.ttf");
}
$font-orbitron: "Orbitron";
$font-michroma: "Michroma";
$font-noto: "Noto";

@mixin michroma {
  font-family: $font-michroma;
  font-weight: 400;
}
@mixin orbitron {
  font-family: $font-orbitron;
  font-weight: 400;
}
@mixin noto {
  font-family: $font-noto;
  font-weight: 400;
}
